.quoteMainContainer {
   background: #000000;
   color: white;
   height: 100vh;
   width: 100%;
    position: relative;
    padding-top: 12vh;
   overflow: hidden;
    contain: paint;
    transform: translateZ(0);
}

.threadsBackground {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: auto;
    background: #000000;
    backface-visibility: hidden;
    transform: translateZ(0);
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.threadsVisible {
    opacity: 1;
}

.threadsHidden {
    opacity: 0;
}

.quoteContent {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    pointer-events: none;
}

.quoteTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.imageContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 40%;
    overflow: hidden;
}

.mainText{
    font-family: "Montserrat", sans-serif;
font-size: 30px;    
font-style: italic;
text-transform: capitalize;
width: 60%;
text-align: center;
margin-left: 10%;
}

.subText{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    margin-top: 20px;
}   