*{
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

html{
  scroll-behavior: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: #000000;
}

body{
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; 
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: #000000;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}